<div class="container">
    <h3>{{userName}}. Welcome to chat room!</h3>
    <div class="form-group">
        <div class="col-md-9">
            <p>Chat text<p>
            <div id="chat-table" style="height:200px; overflow-y:auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td width="60%">Message</td>
                            <td>Sent date</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="message in messages">
                            <td>{{message.userName}}</td>
                            <td>{{message.message}}</td>
                            <td>{{message.sentDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form name="form" ng-submit="sendMessage()">
            <div class="col-md-9">
                <label for="message">Message</label>
                <div class="form-group">
                    <input type="text" id="message" name="message"
                           class="form-control"
                           ng-model="message" ng-required="true"/>
                </div>
            </div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
