<div class="container">
    <h3>{{userName}}. Welcome to chat room!</h3>
    <div class="form-group">
        <div class="col-md-3">
            <label for="users">Users</label>
            <textarea id="users" name="users" ng-model="users" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-6">
            <label for="chatText">Chat text</label>
            <textarea id="chatText" name="chatText" ng-model="chatText" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div>
        <div class="col-md-9">
            <label for="message">Message</label>
            <div class="input-group">
            <input type="text" id="message" name="message" ng-model="message"/>
            <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
