<div class="container">
    <div class="form-group">
        <div class="col-md-3">
            <label>Users</label>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Enter date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td>{{user.enteredDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <label for="chatText">Chat text</label>
            <textarea id="chatText" name="chatText" ng-model="chatText" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div>
        <div class="col-md-9">
            <label for="message">Message</label>
            <div class="input-group">
            <input type="text" id="message" name="message" ng-model="message"/>
            <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
